/*********************FORMULAIRE*********************/

.formulaire{
    background-color: #fffaf1;
    border: 1px solid;
    border-radius: 10px;
    padding: 2em;
    margin: 48px 0 48px 0;
    
}

.formulaire h3{
    margin: 0 0 32px 0;
}

label{
    font-weight: bold;
    margin-top: 1rem;
}

input{
    background-color: #faf1e0;
    border-radius: 10px;
    height: 30px;
    border: none;
}

#dsubmit>input{
    
    height: 30px;
    text-align: center;
    background-color: #f5deb3;
    border: none;
    border-radius: 20px;
    padding: 0;
    margin-top: 1rem;
}

